<clr-side-panel [(clrSidePanelOpen)]="showExamples" [clrSidePanelStaticBackdrop]="false">
  <h3 class="side-panel-title">Example Programs</h3>
  <div class="side-panel-body">
    <p cds-layout="m-t:none">This is a curated example programs that can be loaded into the IDE. Select a program from
      the lists below and then click 'Load'</p>

    <clr-accordion cds-layout="m-t:md" [clrAccordionMultiPanel]="true">
      <clr-accordion-panel [clrAccordionPanelOpen]="true">
        <clr-accordion-title>Simple Examples</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <p cds-text="body" cds-layout="m-y:sm">These example programs are deliberately simple to
            demonstrate some common concepts and provide an introduction to my assembly language:</p>
          @if (isDevMode) {
          <button class="btn btn-link" (click)="loadExample('counter.rcasm')">!DEVONLY! Countdown Timer</button>
          }
          <button class="btn btn-link" (click)="loadExample('fibonacci.rcasm')">Fibonacci Series</button>
          @if (isDevMode) {
          <button class="btn btn-link" (click)="loadExample('hello-world.rcasm')">!DEVONLY! Hello World</button>
          }
          @if (isDevMode) {
          <button class="btn btn-link" (click)="loadExample('memory-test.rcasm')">!DEVONLY! Memory Test</button>
          }
        </clr-accordion-content>
      </clr-accordion-panel>
      @if(isDevMode) {
      <clr-accordion-panel>
        <clr-accordion-title>Complex Examples</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <p cds-text="body" cds-layout="m-y:sm">!DEVONLY! These example programs are much fuller (and therefore more complex):
          </p>
          <button class="btn btn-link" (click)="loadExample('pi-bbp-v1.rcasm')">!DEVONLY! Pi Calculation (BBP)</button>
        </clr-accordion-content>
      </clr-accordion-panel>
      }
      <clr-accordion-panel>
        <clr-accordion-title>Mathematical Operations</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <p cds-text="body" cds-layout="m-y:sm">These example programs demonstrate how to perform common
            mathematical operations that aren't native to my relay computer:</p>
          <button class="btn btn-link" (click)="loadExample('addition-long-se.rcasm')">Long Addition</button>
          <button class="btn btn-link" (click)="loadExample('subtract-8.rcasm')">8-bit Subtract</button>
          <button class="btn btn-link" (click)="loadExample('subtract-16.rcasm')">16-bit Subtract</button>
          <button class="btn btn-link" (click)="loadExample('subtraction-long-se.rcasm')">Long Subtraction</button>
          <button class="btn btn-link" (click)="loadExample('multiply-8.rcasm')">8-bit Multiply</button>
          @if (isDevMode) {
          <button class="btn btn-link" (click)="loadExample('multiply-16.rcasm')">!DEVONLY! 16-bit Multiply</button>
          <button class="btn btn-link" (click)="loadExample('reciprocal-long-se.rcasm')">!DEVONLY! Long Reciprocal</button>
          <button class="btn btn-link" (click)="loadExample('reciprocal-long-se-v2.rcasm')">!DEVONLY! Long Reciprocal v2</button>
          }
          @if (isDevMode) {
          <p cds-text="body" cds-layout="m-y:sm">!DEVONLY! Many of the examples above are also available in 'Handy Routines' as
            reusable functions.</p>
          }
        </clr-accordion-content>
      </clr-accordion-panel>
      <clr-accordion-panel>
        <clr-accordion-title>Handy Routines</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <p cds-text="body" cds-layout="m-y:sm">These programs provide (and demonstrate) re-usable functions that could
            be used by other programs:</p>
          <button class="btn btn-link" (click)="loadExample('convert-endian.rcasm')">Convert Endianness</button>
          @if (isDevMode) {
          <button class="btn btn-link" (click)="loadExample('addition-long.rcasm')">!DEVONLY! Long Addition</button>
          <button class="btn btn-link" (click)="loadExample('subtraction-long.rcasm')">!DEVONLY! Long Subtraction</button>
          <button class="btn btn-link" (click)="loadExample('reciprocal-long.rcasm')">!DEVONLY! Long Reciprocal</button>
          <button class="btn btn-link" (click)="loadExample('reciprocal-long-v2.rcasm')">!DEVONLY! Long Reciprocal v2</button>
          }
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="side-panel-footer">
    <clr-alert [clrAlertSizeSmall]="true" [clrAlertType]="'warning'" [clrAlertLightweight]="true">
      <clr-alert-item>
        <span class="alert-text">Loading an example will replace any existing program active in the IDE.</span>
      </clr-alert-item>
    </clr-alert>
    <button type="button" class="btn btn-outline" (click)="showExamples = false">Cancel</button>
  </div>
</clr-side-panel>
