# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# Node
/node_modules
npm-debug.log*
.npmrc

# IDEs and editors
.idea/


# Visual Studio Code
.vscode/*
!.vscode/extensions.json

# Miscellaneous

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
