{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "objectWrap": "preserve",
  "bracketSpacing": true,
  "semi": true,
  "experimentalOperatorPosition": "end",
  "experimentalTernaries": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "singleAttributePerLine": false
}
