{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "objectWrap": "preserve",
  "bracketSpacing": true,
  "semi": true,
  "experimentalOperatorPosition": "end",
  "experimentalTernaries": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "insertPragma": false,
  "printWidth": 100,
  "tabWidth": 2,
  "requirePragma": false,
  "embeddedLanguageFormatting": "auto"
}
