body {
  background-color: white;
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
}

.wrapper {
  display: flex;
  page-break-after: always;
}

.wrapper:last-child {
  page-break-after: avoid;
}

ul:first-child {
  border-left: 0.5mm dashed black;
}

ul {
  padding: 0mm 0mm 0mm 3mm;
  margin: 0mm;
  min-width: 50mm;
  list-style: none inside none;
  border-right: 0.5mm dashed black;
}

ul::after {
  content: " ";
  height: 4.5mm;
  width: 4mm;
  background-image: url('scis.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: 48.25mm;
  margin-top: -1mm;
}

li {
  height: 4mm;
}

li.page {
  padding-left: 4mm;
  height: 6mm;
  font-size: 3.5mm;
  font-weight: 600;
}


li.footer,
li.origin,
li.title,
li.desc {
  height: 3.2mm;
  margin-left: 4mm;
  border: .5mm solid black;
  width: 40mm;
  padding: 1mm 0mm .5mm 0mm;
  font-size: 2.8mm;
  line-height: 1;
  text-align: center;
  overflow: hidden;
}

li.origin {
  margin-bottom: 2mm;
}

li.footer {
  margin-top: 2mm;
}
li.footer.ends {
  border-left-width: 1mm;
  border-right-width: 1mm;
  width: 39mm;
}

li.title {
  border-top-left-radius: 1.5mm;
  border-top-right-radius: 1.5mm;
}

li.desc {
  border-top: none;
  font-size: 2.5mm;
  line-height: 2.9mm;
  height: auto;
  padding-bottom: 1mm;
  text-align: center;
}

li.origin {
  border-top: none;
  border-bottom-left-radius: 1.5mm;
  border-bottom-right-radius: 1.5mm;
}

li.blank {
  height: 1mm;
}

.chevron {
  float: right;
  position: relative;
  display: block;
  height: 6mm;
  margin-right: 12mm;
  margin-top: -2mm;
  z-index: -1;
}

.chevron:before,
.chevron:after {
  position: absolute;
  display: block;
  content: "";
  border: 4mm solid transparent;
}

.chevron:before {
  bottom: 0;
  border-bottom-color: black;
}

.chevron:after {
  bottom: -2.5mm;
  border-bottom-color: #fff;
}

.mark {
  display: inline-block;
  width: 3mm;
  height: 2mm;
  margin: 1mm 1mm 1mm 0mm;
  background-color: black;
}

.word {
  display: inline-block;
  width: 16mm;
  height: 4mm;
}

.code {
  display: inline-block;
  width: 10mm;
  height: 4mm;
  font-size: 1.5mm;
  vertical-align: top;
  padding-top: .8mm;
  padding-left: 2mm;
  line-height: 1.8mm;
}

.b0000 {
  background: repeating-linear-gradient(90deg, #fff, #fff 16mm);
}

.b0001 {
  background: repeating-linear-gradient(90deg, #fff, #fff 12mm, #000 12mm, #000 16mm);
}

.b0010 {
  background: repeating-linear-gradient(90deg, #fff, #fff 8mm, #000 8mm, #000 12mm, #fff 12mm, #fff 16mm);
}

.b0011 {
  background: repeating-linear-gradient(90deg, #fff, #fff 8mm, #000 8mm, #000 16mm);
}

.b0100 {
  background: repeating-linear-gradient(90deg, #fff, #fff 4mm, #000 4mm, #000 8mm, #fff 8mm, #fff 16mm);
}

.b0101 {
  background: repeating-linear-gradient(90deg, #fff, #fff 4mm, #000 4mm, #000 8mm, #fff 8mm, #fff 12mm, #000 12mm, #000 16mm);
}

.b0110 {
  background: repeating-linear-gradient(90deg, #fff, #fff 4mm, #000 4mm, #000 12mm, #fff 12mm, #fff 16mm);
}

.b0111 {
  background: repeating-linear-gradient(90deg, #fff, #fff 4mm, #000 4mm, #000 16mm);
}

.b1000 {
  background: repeating-linear-gradient(90deg, #000, #000 4mm, #fff 4mm, #fff 16mm);
}

.b1001 {
  background: repeating-linear-gradient(90deg, #000, #000 4mm, #fff 4mm, #fff 12mm, #000 12mm, #000 16mm);
}

.b1010 {
  background: repeating-linear-gradient(90deg, #000, #000 4mm, #fff 4mm, #fff 8mm, #000 8mm, #000 12mm, #fff 12mm, #fff 16mm);
}

.b1011 {
  background: repeating-linear-gradient(90deg, #000, #000 4mm, #fff 4mm, #fff 8mm, #000 8mm, #000 16mm);
}

.b1100 {
  background: repeating-linear-gradient(90deg, #000, #000 8mm, #fff 8mm, #fff 16mm);
}

.b1101 {
  background: repeating-linear-gradient(90deg, #000, #000 8mm, #fff 8mm, #fff 12mm, #000 12mm, #000 16mm);
}

.b1110 {
  background: repeating-linear-gradient(90deg, #000, #000 12mm, #fff 12mm, #fff 16mm);
}

.b1111 {
  background: repeating-linear-gradient(90deg, #000, #000 16mm);
}

.scissors {
  height: 4.2mm;
  width: 4mm;
  background-image: url('scis.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: -5.2mm;
}
