<div cds-layout="vertical gap:xs" class="simulation">
  <div cds-layout="horizontal gap:xs wrap:none align:horizontal-stretch">

    <!-- 8-bit Register Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerA | hex:"2"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Register A</small><br />
                <code>
                  Hex: {{ registerA | hex:"2" }}<br />
                  Bin: {{ registerA | bin:"2" }}<br />
                  Dec: {{ registerA | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerB | hex:"2"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Register B</small><br />
                <code>
                  Hex: {{ registerB | hex:"2" }}<br />
                  Bin: {{ registerB | bin:"2" }}<br />
                  Dec: {{ registerB | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerC | hex:"2"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Register C</small><br />
                <code>
                  Hex: {{ registerC | hex:"2" }}<br />
                  Bin: {{ registerC | bin:"2" }}<br />
                  Dec: {{ registerC | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerD | hex:"2"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Register D</small><br />
                <code>
                  Hex: {{ registerD | hex:"2" }}<br />
                  Bin: {{ registerD | bin:"2" }}<br />
                  Dec: {{ registerD | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Control Reigster Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>I</th>
          <th>PC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerI | hex:"2"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Instruction Register</small><br />
                <code>
                  Hex: {{ registerI | hex:"2" }}<br />
                  Bin: {{ registerI | bin:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerPC | hex:"4"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Program Counter</small><br />
                <code>
                  Hex: {{ registerPC | hex:"4" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 16-bit Register Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>M</th>
          <th>XY</th>
          <th>J</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerM | hex:"4"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Register M (M1:M2)</small><br />
                <code>
                  Hex: {{ registerM | hex:"4" }}<br />
                  Dec: {{ registerM | dec:"4" }}
                </code>
                <hr />
                <small>Register M1</small><br />
                <code>
                  Hex: {{ registerM1 | hex:"2" }}<br />
                  Bin: {{ registerM1 | bin:"2" }}<br />
                  Dec: {{ registerM1 | dec:"2" }}
                </code>
                <hr />
                <small>Register M2</small><br />
                <code>
                  Hex: {{ registerM2 | hex:"2" }}<br />
                  Bin: {{ registerM2 | bin:"2" }}<br />
                  Dec: {{ registerM2 | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerXY | hex:"4"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Register XY (X:Y)</small><br />
                <code>
                  Hex: {{ registerXY | hex:"4" }}<br />
                  Dec: {{ registerXY | dec:"4" }}
                </code>
                <hr />
                <small>Register X</small><br />
                <code>
                  Hex: {{ registerX | hex:"2" }}<br />
                  Bin: {{ registerX | bin:"2" }}<br />
                  Dec: {{ registerX | dec:"2" }}
                </code>
                <hr />
                <small>Register Y</small><br />
                <code>
                  Hex: {{ registerY | hex:"2" }}<br />
                  Bin: {{ registerY | bin:"2" }}<br />
                  Dec: {{ registerY | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ registerJ | hex:"4"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Register J (J1:J2)</small><br />
                <code>
                  Hex: {{ registerJ | hex:"4" }}<br />
                  Dec: {{ registerJ | dec:"4" }}
                </code>
                <hr />
                <small>Register J1</small><br />
                <code>
                  Hex: {{ registerJ1 | hex:"2" }}<br />
                  Bin: {{ registerJ1 | bin:"2" }}<br />
                  Dec: {{ registerJ1 | dec:"2" }}
                </code>
                <hr />
                <small>Register J2</small><br />
                <code>
                  Hex: {{ registerJ2 | hex:"2" }}<br />
                  Bin: {{ registerJ2 | bin:"2" }}<br />
                  Dec: {{ registerJ2 | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- PS Register Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>PS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger>{{ primarySW | hex:"2"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Primary Switches</small><br />
                <code>
                  Hex: {{ primarySW | hex:"2" }}<br />
                  Bin: {{ primarySW | bin:"2" }}<br />
                  Dec: {{ primarySW | dec:"2" }}
                </code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div cds-layout="horizontal gap:xs wrap:none">

    <!-- Control and Panel Switches -->
    <div cds-layout="vertical gap:xxxs align:stretch">
      <div class="btn-group btn-sm" cds-layout="align:horizontal-stretch align:fill">
        @if (!running) {
        <button (click)="run()" class="btn">Run</button>
        }
        @if (running) {
        <button (click)="stop()" class="btn btn-primary">Stop</button>
        }
        <button (click)="step()" class="btn">Step</button>
        <button (click)="reset()" class="btn">Reset</button>
        <button (click)="options = !options" class="btn" [class.btn-primary]="options" cds-layout="align:shrink">
          <cds-icon shape="cog"></cds-icon>
        </button>
      </div>
      <div cds-layout="horizontal gap:xs wrap:none align:horizontal-stretch">
        <div class="btn-group btn-sm" cds-layout="align:fill">
          <div class="checkbox btn"><input type="checkbox" id="ps7" (click)="flipBit(7)" /><label for="ps7">7</label>
          </div>
          <div class="checkbox btn"><input type="checkbox" id="ps6" (click)="flipBit(6)" /><label for="ps6">6</label>
          </div>
          <div class="checkbox btn"><input type="checkbox" id="ps5" (click)="flipBit(5)" /><label for="ps5">5</label>
          </div>
          <div class="checkbox btn"><input type="checkbox" id="ps4" (click)="flipBit(4)" /><label for="ps4">4</label>
          </div>
          <div class="checkbox btn"><input type="checkbox" id="ps3" (click)="flipBit(3)" /><label for="ps3">3</label>
          </div>
          <div class="checkbox btn"><input type="checkbox" id="ps2" (click)="flipBit(2)" /><label for="ps2">2</label>
          </div>
          <div class="checkbox btn"><input type="checkbox" id="ps1" (click)="flipBit(1)" /><label for="ps1">1</label>
          </div>
          <div class="checkbox btn"><input type="checkbox" id="ps0" (click)="flipBit(0)" /><label for="ps0">0</label>
          </div>
        </div>
      </div>
    </div>

    <!-- ALU Flags Display -->
    <table class="table table-compact alu-display">
      <thead>
        <tr>
          <th>Z</th>
          <th>C</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger class="dot">{{ flagZ ? "●" : "○"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Zero Flag</small><br />
                <code>{{ flagZ ? "SET" : "CLEAR"}}</code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger class="dot">{{ flagC ? "●" : "○"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Carry Flag</small><br />
                <code>{{ flagC ? "SET" : "CLEAR"}}</code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
          <td>
            <clr-signpost>
              <code clrSignpostTrigger class="dot">{{ flagS ? "●" : "○"}}</code>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <small>Sign Flag</small><br />
                <code>{{ flagS ? "SET" : "CLEAR"}}</code>
              </clr-signpost-content>
            </clr-signpost>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- Options Panel -->
  @if(options) {
  <table class="table table-compact" style="margin-top: 0;">
    <thead>
      <tr>
        <th><span role="tooltip" class="tooltip tooltip-bottom-right">
            IPR
            <span class="tooltip-content">Instructions per (UI) Refresh. Higher number makes emulation run
              quicker.</span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <button class="btn btn-link btn-icon btn-sm" [disabled]="ipr === 1" cds-layout="m:none"
            (click)="setIpr(ipr / 2)"> <cds-icon shape="minus"></cds-icon></button>
          {{ipr}}
          <button class="btn btn-link btn-icon btn-sm" [disabled]="ipr === 32" cds-layout="m:none"
            (click)="setIpr(ipr * 2)"> <cds-icon shape="plus"></cds-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  }

  <!-- Memory Display -->
  <table class="table table-compact memory-display" style="margin-top: 0;">
    <thead>
      <tr>
        <th>
          @if (memoryOffset>=128) {
          <a href="#" (click)="prevOffset()">&lt;</a>
          }
        </th>
        <th colspan="14">Memory <small>(offset </small><code>{{memoryOffset | hex:"4" }}</code><small>)</small></th>
        <th>
          @if (memoryOffset<32640) { <a href="#" (click)="nextOffset()">&gt;</a> }
        </th>
      </tr>
    </thead>
    <tbody>
      @for (idx of [0,1,2,3,4,5,6,7]; track idx) {
      <tr>
        @for (sidx of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]; track sidx) {
        <td [class.pc-marker]="registerPC === (memoryOffset + (idx*16) + sidx)"
          [class.m-marker]="registerM === (memoryOffset + (idx*16) + sidx)">
          <clr-signpost>
            <code clrSignpostTrigger>{{ memoryArray[memoryOffset + (idx*16) + sidx] | hex:"2"  }}</code>
            <clr-signpost-content [clrPosition]="'left-bottom'" *clrIfOpen>
              <small>Memory Slot</small><br /><code>
                Address: {{memoryOffset + (idx*16) + sidx | hex:"4"}} <br/>
                Hex: {{ memoryArray[memoryOffset + (idx*16) + sidx] | hex:"2" }}<br/>
                Bin: {{ memoryArray[memoryOffset + (idx*16) + sidx] | bin:"2" }}<br />
                Dec: {{ memoryArray[memoryOffset + (idx*16) + sidx] | dec:"2" }}
              </code>
            </clr-signpost-content>
          </clr-signpost>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
<div class="editor-footer" [attr.status]="stateType" cds-layout="horizontal gap:xs align:vertical-center">
  <span cds-text="secondary regular" [innerHTML]="stateText"></span>
</div>
