<div class="clr-row">
  <div class="clr-col-12">

    <!-- 8-bit Register Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-right">
              <code>{{ registerA | hex:"2"}}</code>
              <span class="tooltip-content"><small> Register
                  A</small><br /><code>Hex: {{ registerA | hex:"2"}}</code></span>
            </a>
          </td>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-right">
              <code>{{ registerB | hex:"2"}}</code>
              <span class="tooltip-content"><small> Register
                  B</small><br /><code>Hex: {{ registerB | hex:"2"}}</code></span>
            </a>
          </td>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-right">
              <code>{{ registerC | hex:"2"}}</code>
              <span class="tooltip-content"><small> Register
                  C</small><br /><code>Hex: {{ registerC | hex:"2"}}</code></span>
            </a>
          </td>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-right">
              <code>{{ registerD | hex:"2"}}</code>
              <span class="tooltip-content"><small> Register
                  D</small><br /><code>Hex: {{ registerD | hex:"2"}}</code></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Control Reigster Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>I</th>
          <th>PC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-right">
              <code>{{ registerI | hex:"2"}}</code>
              <span class="tooltip-content"><small>Instruction
                  Register</small><br /><code>Hex: {{ registerI | hex:"2"}}</code></span>
            </a>
          </td>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-right">
              <code>{{ registerPC | hex:"4"}}</code>
              <span class="tooltip-content"><small>Program
                  Counter</small><br /><code>Hex: {{ registerPC | hex:"4"}}</code></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 16-bit Register Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>M</th>
          <th>XY</th>
          <th>J</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-left">
              <code>{{ registerM | hex:"4"}}</code>
              <span class="tooltip-content"><small>Register M
                  (M1:M2)</small><br /><code>Hex: {{ registerM | hex:"4"}}</code></span>
            </a>
          </td>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-left">
              <code>{{ registerXY | hex:"4"}}</code>
              <span class="tooltip-content"><small>Register XY
                  (X:Y)</small><br /><code>Hex: {{ registerXY | hex:"4"}}</code></span>
            </a>
          </td>
          <td>
            <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-left">
              <code>{{ registerJ | hex:"4"}}</code>
              <span class="tooltip-content"><small>Register J
                  (J1:J2)</small><br /><code>Hex: {{ registerJ | hex:"4"}}</code></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ALU Flags Display -->
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Z</th>
          <th>C</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-left">
              <code>{{ flagZ ? "●" : "○"}}</code>
              <span class="tooltip-content"><code>Zero Flag<br/>{{ flagZ ? "SET" : "CLEAR"}}</code></span>
            </a></td>
          <td> <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-left">
              <code>{{ flagC ? "●" : "○"}}</code>
              <span class="tooltip-content"><code>Carry Flag<br/>{{ flagC ? "SET" : "CLEAR"}}</code></span>
            </a></td>
          <td> <a href="#" role="tooltip" class="tooltip tooltip-sm tooltip-bottom-left">
              <code>{{ flagS ? "●" : "○"}}</code>
              <span class="tooltip-content"><code>Sign Flag <br/>{{ flagS ? "SET" : "CLEAR"}}</code></span>
            </a></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="clr-col-12">
    <div class="btn-group btn-link btn-sm">
      <button (click)="run()" class="btn">Run</button>
      <button (click)="step()" class="btn">Step</button>
      <button (click)="reset()" class="btn">Reset</button>
    </div>
  </div>

  <div class="clr-col-12">

    <!-- Memory Display -->
    <table class="table table-compact" style="margin-top: 0;">
      <thead>
        <tr>
          <th>
            <a *ngIf="memoryOffset>=128" href="#" (click)="prevOffset()">&lt;</a>
          </th>
          <th colspan="14">Memory <small>(offset <code>{{memoryOffset | hex:"4" }}</code>)</small></th>
          <th>
            <a *ngIf="memoryOffset<32640" href="#" (click)="nextOffset()">&gt;</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let idx of [0,1,2,3,4,5,6,7]">
          <td *ngFor="let sidx of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];"
            [class.pc-marker]="registerPC === (memoryOffset + (idx*16) + sidx)">
            <a href="#" role="tooltip" class="tooltip tooltip-sm" [class.tooltip-right]="sidx<=7 && idx<=3"
              [class.tooltip-left]="sidx>=8 && idx<=3" [class.tooltip-top-right]="sidx<=7 && idx>=4"
              [class.tooltip-top-left]="sidx>=8 && idx>=4">
              <code>{{ memoryArray[memoryOffset + (idx*16) + sidx] | hex:"2"  }}</code>
              <span class="tooltip-content"><small>Memory Slot</small><br /><code>
                Address: {{memoryOffset + (idx*16) + sidx | hex:"4"}} <br/>
                Hex: {{ memoryArray[memoryOffset + (idx*16) + sidx] | hex:"2" }}<br/>
              </code></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
