<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="#" class="nav-link">
        <cds-icon shape="terminal"></cds-icon>
        <span class="title">Relay Computer IDE</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="#" *ngIf="!showDocs" (click)="showDocs = true" class="nav-link"><div class="nav-text">Show Documentation</div></a>
      <a href="#" *ngIf="showDocs" (click)="showDocs = false" class="nav-link"><div class="nav-text">Hide Documentation</div></a>
      <a href="#" *ngIf="!showEmu" (click)="showEmu = true" class="nav-link"><span class="nav-text">Show Emulator</span></a>
      <a href="#" *ngIf="showEmu" (click)="showEmu = false" class="nav-link"><span class="nav-text">Hide Emulator</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="upload-cloud"></cds-icon>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Example Programs</h4>
          <a *ngIf="isDevMode" href="#" (click)="editor.loadExample('counter.rcasm')" clrDropdownItem>Counter</a>
          <a href="#" (click)="editor.loadExample('fibonacci.rcasm')" clrDropdownItem>Fibonacci Series</a>
          <a href="#" (click)="editor.loadExample('subtract-8.rcasm')" clrDropdownItem>8-bit Subtract</a>
          <a *ngIf="isDevMode" href="#" (click)="editor.loadExample('subtract-16.rcasm')" clrDropdownItem>16-bit
            Subtract</a>
          <a href="#" (click)="editor.loadExample('multiply-8.rcasm')" clrDropdownItem>8-bit Multiply</a>
          <a *ngIf="isDevMode" href="#" (click)="editor.loadExample('multiply-16.rcasm')" clrDropdownItem>16-bit
            Multiply</a>
          <a *ngIf="isDevMode" href="#" (click)="editor.loadExample('hello-world.rcasm')" clrDropdownItem>Hello
            World</a>
          <a *ngIf="isDevMode" href="#" (click)="editor.loadExample('memory-test.rcasm')" clrDropdownItem>Memory
            Test</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="download-cloud"></cds-icon>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Export Assembled</h4>
          <a href="#" (click)="exportToClipboard()" [clrDisabled]="!didAssemble" clrDropdownItem>to Clipboard</a>
          <a href="#" (click)="exportToPaperTape()" [clrDisabled]="!didAssemble" clrDropdownItem>to Paper Tape</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="library"></cds-icon>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Related Sites</h4>
          <a href="https://relaycomputer.co.uk" target="_blank" clrDropdownItem>Blog</a>
          <a href="https://simulator.relaycomputer.co.uk" target="_blank" clrDropdownItem>Simulator</a>
          <a href="https://github.com/paul80nd/relay-computer-ide" target="_blank" clrDropdownItem>GitHub Source</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area" *ngIf="showDocs" style="flex: 1;">
      <app-ride-docs class="documentation"></app-ride-docs>
    </div>
    <div class="content-area" style="margin: 0; padding: 0;">
      <app-ride-editor #editor (codeChanged)="onEditorCodeChanged($event)" class="editor-container"></app-ride-editor>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content" style="flex-grow: 0;">
        <app-ride-emulator #emulator [style.display]="showEmu ? 'block':'none'" class="content-area simulation"></app-ride-emulator>
      </section>
      <section class="sidenav-content">
        <app-ride-output #output [dasm]="dasm" class="editor-container"></app-ride-output>
      </section>
    </nav>
  </div>
</div>
