<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="terminal"></cds-icon>
        <span class="title">Relay Computer IDE</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="#" (click)="showDocs = !showDocs" class="nav-link"><input type="checkbox" clrToggle
          (click)="showDocs = !showDocs" [checked]="showDocs" />
        <div class="nav-text">Documentation</div>
      </a>
      <a href="#" (click)="showEmu = !showEmu" class="nav-link" cds-layout="m-r:xl"><input type="checkbox" clrToggle
          (click)="showEmu = !showEmu" [checked]="showEmu" /><span class="nav-text">Emulator</span></a>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="import"></cds-icon> Import
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Import Program</h4>
          <a href="#" (click)="showExamples = true" clrDropdownItem>from Example ...</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="export"></cds-icon> Export
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Export Assembled</h4>
          <a href="#" (click)="exportToClipboard()" [clrDisabled]="!didAssemble" clrDropdownItem>to Clipboard</a>
          <a href="#" (click)="exportToPaperTape()" [clrDisabled]="!didAssemble" clrDropdownItem>to Paper Tape</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="library"></cds-icon> Links
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Related Sites</h4>
          <a href="https://relaycomputer.co.uk" target="_blank" clrDropdownItem>Blog</a>
          <a href="https://simulator.relaycomputer.co.uk" target="_blank" clrDropdownItem>Simulator</a>
          <a href="https://github.com/paul80nd/relay-computer-ide" target="_blank" clrDropdownItem>GitHub Source</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area" *ngIf="showDocs" style="flex: 1;">
      <app-ride-docs class="documentation"></app-ride-docs>
    </div>
    <div class="content-area" style="margin: 0; padding: 0;">
      <app-ride-editor #editor (codeChanged)="onEditorCodeChanged($event)" class="editor-container"></app-ride-editor>
    </div>
    <clr-vertical-nav>
      <app-ride-emulator #emulator [style.display]="showEmu ? 'block':'none'"
        class="content-area simulation"></app-ride-emulator>
      <app-ride-output #output [dasm]="dasm" class="editor-container"></app-ride-output>
    </clr-vertical-nav>
  </div>
</div>
<clr-side-panel [(clrSidePanelOpen)]="showExamples" [clrSidePanelStaticBackdrop]="false">
  <h3 class="side-panel-title">Example Programs</h3>
  <div class="side-panel-body">
    <p cds-layout="m-t:none">This is a curated example programs that can be loaded into the IDE. Select a program from
      the lists below and then click 'Load'</p>

    <clr-accordion cds-layout="m-t:md" [clrAccordionMultiPanel]="true">
      <clr-accordion-panel [clrAccordionPanelOpen]="true">
        <clr-accordion-title>Simple Examples</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <p cds-text="body" cds-layout="m-y:sm">These example programs are deliberately simple to
            demonstrate some common concepts and provide an introduction to my assembly language:</p>
          <button *ngIf="isDevMode" class="btn btn-link" (click)="loadExample('counter.rcasm')">Countdown Timer</button>
          <button class="btn btn-link" (click)="loadExample('fibonacci.rcasm')">Fibonacci Series</button>
          <button *ngIf="isDevMode" class="btn btn-link" (click)="loadExample('hello-world.rcasm')">Hello World</button>
          <button *ngIf="isDevMode" class="btn btn-link" (click)="loadExample('memory-test.rcasm')">Memory Test</button>
        </clr-accordion-content>
      </clr-accordion-panel>
      <clr-accordion-panel>
        <clr-accordion-title>Mathematical Operations</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <p cds-text="body" cds-layout="m-y:sm">These example programs demonstrate how to perform common
            mathematical operations that aren't native to my relay computer:</p>
            <button class="btn btn-link" (click)="loadExample('subtract-8.rcasm')">8-bit Subtract</button>
            <button *ngIf="isDevMode" class="btn btn-link" (click)="loadExample('subtract-16.rcasm')">16-bit
              Subtract</button>
            <button class="btn btn-link" (click)="loadExample('multiply-8.rcasm')">8-bit Multiply</button>
            <button *ngIf="isDevMode" class="btn btn-link" (click)="loadExample('multiply-16.rcasm')">16-bit
              Multiply</button>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="side-panel-footer">
    <clr-alert [clrAlertSizeSmall]="true" [clrAlertType]="'warning'" [clrAlertLightweight]="true">
      <clr-alert-item>
        <span class="alert-text">Loading an example will replace any existing program active in the IDE.</span>
      </clr-alert-item>
    </clr-alert>
    <button type="button" class="btn btn-outline" (click)="showExamples = false">Cancel</button>
  </div>
</clr-side-panel>
