<div class="main-container">
  @if (!diff) {
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="terminal"></cds-icon>
        <span class="title">Relay Computer IDE</span>
      </a>
    </div>
    <div class="header-actions">
      <div class="nav-link">
        <input id="docsToggle" type="checkbox" clrToggle [(ngModel)]="showDocs" />
        <label for="docsToggle" class="nav-text" cds-layout="m-r:md">Documentation</label>
        <input id="emuToggle" type="checkbox" clrToggle [(ngModel)]="showEmu" />
        <label for="emuToggle" class="nav-text">Emulator</label>
      </div>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="import"></cds-icon> Import
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Import Program</h4>
          <a href="#" (click)="examples.show()" clrDropdownItem>from Example ...</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="export"></cds-icon> Export
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Export Assembled</h4>
          <a href="#" (click)="exportToClipboard()" [clrDisabled]="!didAssemble" clrDropdownItem>to Clipboard</a>
          <a href="#" (click)="exportToPaperTape()" [clrDisabled]="!didAssemble" clrDropdownItem>to Paper Tape</a>
          <a href="#" (click)="exportToLoadSheet()" [clrDisabled]="!didAssemble" clrDropdownItem>to Load Sheet</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="library"></cds-icon> Links
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <h4 class="dropdown-header">Related Sites</h4>
          <a href="https://relaycomputer.co.uk" target="_blank" clrDropdownItem>Blog</a>
          <a href="https://simulator.relaycomputer.co.uk" target="_blank" clrDropdownItem>Simulator</a>
          <a href="https://github.com/paul80nd/relay-computer-ide" target="_blank" clrDropdownItem>GitHub Source</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    @if (showDocs) {
    <div class="content-area" style="flex: 1;" cds-layout="p-r:sm">
      <app-ride-docs class="documentation"></app-ride-docs>
    </div>
    }
    <div class="content-area" style="margin: 0; padding: 0;">
      <app-ride-editor #editor (codeChanged)="onEditorCodeChanged($event)" (gotoAssembled)="gotoAssembled($event)"
        class="editor-container"></app-ride-editor>
    </div>
    <clr-vertical-nav>
      <app-ride-emulator #emulator [style.display]="showEmu ? 'block':'none'"
        class="content-area simulator-container"></app-ride-emulator>
      <app-ride-output #output [dasm]="dasm" (gotoSource)="gotoSource($event)"
        (gotoSourcePosition)="gotoSourcePosition($event)" class="editor-container"></app-ride-output>
    </clr-vertical-nav>
  </div>
  } @else {
  <app-ride-diff #diff class="editor-container"></app-ride-diff>
  }
</div>
<app-ride-examples #examples (exampleRequested)="onExampleRequested($event)" />
