* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.header-actions {
  padding-right: .5em;
}

.main-container .content-container .sidenav {
  order: 1;
}

.sidenav {
  border-left: .05rem solid #ccc;
  border-right: none;
  min-width: 14rem;
}

.sidenav .sidenav-content {
  padding-bottom: 0;
}
