:root [cds-theme] {
  --cds-alias-object-interaction-outline: none;
  --clr-header-divider-color: inherit;
}

*:focus {
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

header {
  --clr-header-height: 2rem;

  .branding .nav-link cds-icon {
    fill: var(--cds-global-color-warm-gray-300);
  }

  .nav-link {
    height: var(--clr-header-height);

    clr-checkbox-wrapper {
      margin-right: 0;
    }
  }
}

.main-container .content-container .clr-vertical-nav {
  order: 1;
}

.content-area {
  display: flex;
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
}

.editor {
  flex: 1 1 auto;
}

.editor-footer {
  flex: 1 1 auto;
  background-color: var(--cds-alias-status-info-tint);
  padding: var(--cds-global-space-5) var(--cds-global-space-8);
  padding-left: .5rem;
}

.editor-footer[status="success"] {
  background-color: var(--cds-alias-status-success-tint);
}

.editor-footer[status="danger"] {
  background-color: var(--cds-alias-status-danger-tint);
}

.editor-footer[status="warning"] {
  background-color: var(--cds-alias-status-warning-tint);
}

.clr-vertical-nav {
  min-width: 16.5rem;
  border-left: .05rem solid #ccc;
  border-right: none;
  padding-top: 0;

  .nav-content {
    padding: 0;
    gap: 0;
  }
}

.simulator-container {
  flex-grow: 0 !important;
  padding: 0 !important;
}

.simulation {
  flex-grow: 0 !important;
  padding: var(--cds-global-space-5) !important;
  overflow: hidden !important;
}

.simulation code {
  font-family: "Inconsolata", monospace;
  font-size: .75rem;
}

.simulation .tooltip-content {
  width: 7rem !important;

  small {
    font-size: var(--cds-global-typography-caption-font-size);
  }
}

.simulation a,
.simulation a:hover {
  text-decoration: none;
  color: var(--cds-alias-object-interaction-color) !important;
}

.simulation table {
  margin-top: 0;
}

.simulation td,
.simulation th {
  padding: var(--cds-global-space-2);
  padding-top: var(--cds-global-space-3);
}

.simulation td:first-child,
.simulation th:first-child {
  padding-left: var(--cds-global-space-4);
}

.simulation td:last-child,
.simulation th:last-child {
  padding-right: var(--cds-global-space-4);
}

.simulation table.alu-display {
  width: 25%;
}

.simulation table.alu-display td {
  padding-bottom: var(--cds-global-space-3);
}

.simulation table.alu-display code.dot {
  font-size: 1.4em;
}

.simulation .btn-group {
  margin: 0;
}

.simulation .btn {
  min-width: auto;
}

.simulation .checkbox.btn label {
  padding: 0;
}

.simulation .clr-control-label {
  margin: 0;
  padding: 0;
}

.simulation table.memory-display th {
  small {
    font-size: var(--cds-global-typography-smallcaption-font-size);
  }

  code {
    font-size: var(--cds-global-typography-body-font-size);
    font-weight: var(--cds-global-typography-font-weight-regular);
  }
}

.simulation td.m-marker {
  background-color: #CC8014;
}

.simulation td.pc-marker {
  background-color: #428BCA;
}

.simulation td.pc-marker a,
.simulation td.m-marker a {
  color: white;
}

.simulation clr-signpost-content .signpost-content-body {
  margin-left: .25rem;
  margin-right: .25rem;
}

.simulation clr-signpost-content.signpost-content {
  min-width: 7rem;
}

.simulation clr-signpost-content .signpost-content-header {
  display: none;
}


.documentation table th {
  min-width: 6rem;
  font-family: "Inconsolata", monospace;
  font-size: var(--cds-global-typography-body-font-size) !important;
  line-height: var(--cds-global-typography-body-line-height);
  font-weight: var(--cds-global-typography-font-weight-regular) !important;
  letter-spacing: var(--cds-global-typography-body-letter-spacing);
}

.documentation table td {
  font-size: var(--cds-global-typography-body-font-size);
  font-weight: var(--cds-global-typography-body-font-weight);
  line-height: var(--cds-global-typography-body-line-height);
  letter-spacing: var(--cds-global-typography-body-letter-spacing);
}

clr-accordion-content .btn-link {
  margin: 0;
}
