* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.header-actions {
  padding-right: .5em;
}

.main-container .content-container .clr-vertical-nav {
  order: 1;
}

.content-area {
  display: flex;
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
}

.editor {
 flex: 1 1 auto;
}

.editor-footer {
 flex: 1 1 auto;
}

.clr-vertical-nav {
  min-width: 14rem;
  border-left: .05rem solid #ccc;
  border-right: none;
  padding-top: 0;
}

.alert-app-level .alert-items {
  padding: 0rem .5rem;
  font-size: .55rem;
  line-height: .6rem;
}

.alert-app-level .alert-icon {
  height: .8rem;
  width: .8rem;
}

.alert-app-level .alert-icon-wrapper {
  flex: 0 0 .75rem;
  padding-top: .2rem;
}

.alert-app-level .alert-text {
  margin-right: 0rem;
}

.simulation {
  background-color: var(--clr-table-bgcolor, hsl(198, 0%, 100%));
  flex-grow: 0 !important;
  padding: 0 !important;
  padding-bottom: .4rem !important;
  overflow: hidden !important;
}

.simulation code {
  font-family: "Inconsolata", monospace;
}

.simulation a, .simulation a:hover {
  text-decoration: none;
}

.simulation table {
  width: auto;
  float: left;
  margin-top: .4rem;
  margin-left: .4rem;
}

.simulation table.alu-display {
  margin-top: .3rem;
}

.simulation table tr {
  padding: 0 !important;
}

.simulation td, .simulation th {
  padding: .05rem .11rem .05rem .11rem !important;
}

.simulation table.alu-display td, .simulation table.alu-display th {
  padding: .155rem .2rem .155rem .2rem !important;
}

.simulation table.alu-display code.dot {
  font-size: 1.5em;
}

.simulation table.memory-display td, .simulation table.memory-display th {
  padding: .05rem .075rem .05rem .075rem !important;
}

.simulation td.pc-marker {
  background-color: #428BCA;
}

.simulation td.pc-marker a {
  color: white;
}

.simulation .btn-group {
  margin: .3rem .4rem 0rem .4rem;
}

.simulation .btn-group .btn {
  min-width: 3.15rem;
}

.simulation .clr-form-control {
  margin-top: 0;
}

.simulation .clr-control-inline {
  margin-left: .4rem;
  margin-bottom: .1rem;
}

.simulation .clr-control-inline .clr-control-label {
  margin-right: .14rem;
}

.documentation p {
  margin-top: .6rem !important;
}
